.item-header {
    grid-area: header;
}

.item-body {
    grid-area: body;
}

.container-app {
    border-top-width: 0px !important;
    margin-top: -25px !important;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px auto;
    grid-template-areas:
            "header"
            "body";
}
