.item-home {
    grid-area: home;
}

.item-library {
    grid-area: library;
}

.item-about {
    grid-area: about;
}

.container-header {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns:  auto 100px 100px 100px auto;
    grid-template-rows: 30px;
    grid-template-areas: ". home library about .";
    justify-items: stretch;
    font-weight: bold;
    font-size: small;
    color: black;
}
