.item-player {
    grid-area: player
}

.item-playlist {
    grid-area: playlist
}

.item-now-playing {
    grid-area: nowplaying
}

.container-home {
    display: grid;
    grid-template-columns: 1fr 655px 1fr;
    grid-template-rows: 30px auto auto auto;
    grid-template-areas:
            ". . ."
            ". player ."
            ". playlist ."
            ". nowplaying .";
    grid-row-gap: 5px;
    justify-content: center;
}