.menu {
    display: flex;
    font-weight: bold;
    color: black;
    margin: 10px 19px 5px 19px;
}

.sub-menu {
    font-weight: bold;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
}

.sub-menu:hover {
    color: #FFFF00;
}
