.Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: small;
    color: black;
    margin-bottom: 19px;
}

.sub-menu {
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
}

.sub-menu:hover {
    color: #FFFF00;
}
