.item-owl {
    grid-area: owl;
    width: 520px;
    height: 428px;

}

.item-rat {
    grid-area: rat;
    width: 200px;
    height: 108px;
    display: block;
    margin-left: auto;
}

.item-quote {
    grid-area: quote;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.item-not-found {
    grid-area: notfound;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.container-no-match {
    display: grid;
    grid-template-columns: 1fr 655px 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            ". notfound. "
            ". owl ."
            ". rat ."
            ". quote .";
}