.item-sort {
    grid-area: sorter
}

.item-playlist {
    grid-area: playlist;
}


.container-playlist {
    display: grid;
    grid-template-columns: 655px;
    grid-template-rows: auto auto;
    grid-template-areas:
            "sorter"
            "playlist";
    padding-bottom: 10px;
}

.sort-link {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    margin: 0px 19px 5px 19px;
}

.sort-inactive {
    color: black;
    font-weight: bold;
}

.sort-inactive:hover {
    color: #bfb671;
}