.player {
    width: 640px;
    background-image: url("logo.svg");
    background-size: 320px 228px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #F8F8FF;
    border-radius: 8px;
    background-color: #F8F8FF;
    margin-bottom: 19px;
}

.media-player {
    display: flex;
    justify-content: center;
}

.navigation {
    align-self: flex-start;
    font-size: 200%;
    color: #014421;
    font-weight: bold;
}

.navigation:hover {
    color: #014421;
}

.social-player {
    text-align: center;
    color: #014421;
    border-radius: 8px;
}
