.item-player {
    grid-area: player;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: first;
    grid-row-end: end;
    /*margin-top: 20px;*/
}

.item-title {
    grid-area: title;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: first;
    grid-row-end: end;
    color: #014421;
    display: grid;
    grid-template-columns: 10px 591px 10px;
    grid-template-rows: auto;
    grid-template-areas: " previous playing next";
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.item-previous {
    grid-area: previous;
    font-size:205%;
}

.item-playing {
    grid-area: playing;
}

.item-next {
    grid-area: next;
    font-size:205%;
}

.container-player {
    margin-top: -20px !important;
    display: grid;
    grid-template-columns: 655px;
    grid-template-rows: auto auto;
    grid-template-areas:
            "player"
            "title";
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    align-content: start;
    background-image: url("logo.svg");
    background-size: 320px 228px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F8F8FF;
    border: 2px solid #F8F8FF;
    border-radius: 8px;
}
