.item-toggle {
    grid-area: sorter;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.item-playlist {
    grid-area: playlist;
}

.container-playlist {
    display: grid;
    grid-template-columns: 655px;
    grid-template-rows: auto auto;
    grid-template-areas:
            "sorter"
            "playlist";
    padding-bottom: 10px;
}

.toggle-background {
    width: 73px;
    height: 24px;
    border-radius: 50px;
    margin: 3px;
    padding: 0 none;
    background-color: #000000;
}

.toggle-switch {
    width: 55px;
    height: 20px;
    border-radius: 50px;
    padding: 0 none;
    color: black;
}

.toggle-switch:focus {
    outline: 0 none;
}

.switch-open {
    margin: 2px 3px 2px 15px;
}

.switch-closed {
    margin: 2px 3px 2px 3px;
}
