.item-date {
    grid-area: date;
}

.item-ep-title {
    grid-area: eptitle;
}

.container-pod {
    display: grid;
    grid-template-columns: 70px 585px;
    grid-template-rows: auto;
    grid-template-areas:
            "date eptitle";
    grid-column-gap: 10px;
}

.item-ep-title:hover {
    color: #bfb671;
    font-weight: bold;
}

